<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Smart Home</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body class="bg-gray-200">
    <ui-navigation title="My Smart Home"></ui-navigation>

    <div
      class="container rounded shadow-lg mx-auto bg-white mt-24 md:mt-18 px-4 py-2"
    >
      {{{body}}}
    </div>

    <script type="module" src="/lib/index.esm.js"></script>
  </body>
</html>